{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}وبلاگ{% endblock %}
{% block content %}

   <div class="breadcrumbs__section breadcrumbs__section-thin brk-bg-center-cover lazyload" style="padding-top: 75px;padding-bottom: 47px" data-bg="{% static 'img/1920x258_1.jpg' %}" data-brk-library="component__breadcrumbs_css">
		<span class="brk-abs-bg-overlay brk-bg-grad opacity-80"></span>
		<div class="breadcrumbs__wrapper">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-12 col-lg-6">
						<div class="d-flex justify-content-lg-end justify-content-start pr-40 pr-xs-0 breadcrumbs__title">
							<h2 class="brk-white-font-color font__weight-semibold font__size-48 line__height-68 font__family-montserrat">
								وبلاگ
							</h2>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="pt-25 pb-35 position-static position-lg-relative breadcrumbs__subtitle">
							<h3 class="brk-white-font-color font__family-montserrat font__weight-medium font__size-18 line__height-21 text-uppercase mb-15">
								Check all our services
							</h3>
							<ol class="breadcrumb font__family-montserrat font__size-15 line__height-16 brk-white-font-color">
								<li>
									<a href="/">صفجه اصلی</a>
									<i class="fal fa-chevron-right icon"></i>
								</li>
								<li class="active">بلاگ</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


      <div class="row">
     {% for article in all_articles %}
         	<div class="container mt-70 mt-md-140" style="margin: 1rem !important">
					<div class="mt-70" style="margin-top: 0px !important;">
						<div class="row align-items-center justify-content-center" data-brk-library="component__image_frames,fancybox">
							<div class="col-lg-4 flex-lg-last">
								<div class="text-center text-lg-left">
                                    {% thumbnail article.image "300x300" as img %}
									<a href="{{ article.get_absolute_url}}" class="frame-image image-popup img-square shadow fancybox">
										<img src="{{ img.url }}" alt="alt">
										<span class="square"></span>
									</a>
                                    {% endthumbnail %}
								</div>
							</div>
							<div class="col-lg-8 text-center text-lg-left mt-30 mt-lg-0">

								<div class="show-inline-block">
									<h2 class="font__family-playfair font__weight-bold font__size-36 line__height-42 highlight-massive highlight-massive-gray">
										{{ article.title }}
										<span class="after"></span>
									</h2>
								</div>
								<p class="font__family-open-sans font__size-16 line__height-24 text-gray-light mt-30">
                                {{ article.body|safe|truncatewords:"50"|linebreaks }}
                                </p>
									<a href="{{ article.get_absolute_url }}" class="btn btn-pos btn-lg border-radius-10 font__weight-bold ml-0 mr-0 mt-30" data-brk-library="component__button">
										<i class="fa icon-inside" aria-hidden="true"></i>
										<span></span>ادامه مطلب
									</a>
							</div>
						</div>
					</div>
				</div>
    {% endfor %}
      </div>

{% endblock %}


