{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}پوژمان{% endblock %}
{% load static %}

{% block content %}
<div id="rev_slider_5_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="demo_shop_trendy"
			data-source="gallery" style="background:transparent;padding:0px;direction: ltr;">
			<div id="rev_slider_5_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.8.1">
				<ul>
					<li data-index="rs-11" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
						data-hideslideonmobile="off" data-easein="default" data-easeout="default"
						data-masterspeed="1400" data-thumb="img/demo_shop_trendy/images/100x50_46e75-brk_slide-1.jpg"
						data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
						data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
						data-param9="" data-param10="" data-description="">
						<img src=" {% static 'img/demo_shop_trendy/images/46e75-brk_slide-1.jpg' %} " alt=""
							data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
							data-bgparallax="off" class="rev-slidebg" data-no-retina>
						<div class="tp-caption rev_group" id="slide-11-layer-27"
							data-x="['left','left','right','right']" data-hoffset="['15','15','15','15']"
							data-y="['top','top','top','top']" data-voffset="['145','125','174','402']"
							data-width="['685','551','385','282']" data-height="['196','170','123','89']"
							data-whitespace="normal" data-type="group" data-responsive_offset="on"
							data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
							data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
							data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"
							style="z-index: 11; min-width: 685px; max-width: 685px; max-width: 196px; max-width: 196px; white-space: normal; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
							<div class="tp-caption" id="slide-11-layer-11" data-x="['left','left','left','left']"
								data-hoffset="['352','284','194','149']" data-y="['middle','top','top','top']"
								data-voffset="['-40','17','9','8']" data-width="none" data-height="none"
								data-whitespace="nowrap" data-type="image" data-responsive_offset="on"
								data-frames='[{"delay":"+0","speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
								data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]" style="z-index: 12;"><img
									src=" {% static 'img/demo_shop_trendy/images/805f9-brk_slide_element-3.png' %} " alt=""
									data-ww="['219px','180px','140px','100px']" data-hh="['77px','63px','49px','35px']"
									data-no-retina> </div>
							<div class="tp-caption" id="slide-11-layer-9" data-x="['left','center','center','center']"
								data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
								data-voffset="['0','0','0','0']" data-fontsize="['72','60','40','30']"
								data-lineheight="['78','68','50','36']" data-width="['682','530','358','271']"
								data-height="['none','137','104','73']" data-whitespace="normal" data-type="text"
								data-responsive_offset="on"
								data-frames='[{"delay":"+0","speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
								data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
								data-marginleft="[0,0,0,0]" data-textalign="['center','center','center','center']"
								data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 13; min-width: 682px; max-width: 682px; white-space: normal; font-size: 72px; line-height: 78px; font-weight: 300; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;text-transform:uppercase;">
								Save <span style="color:#3e2acd;font-weight: 200;margin-left:35px">50%</span>
								<div style="font-weight: 700;font-family: Open Sans;">تخفیف ویژه جمعه سیاه</div>
							</div>
						</div>
						<div class="tp-caption rev-brk-brands rev_group" id="slide-11-layer-24"
							data-x="['left','left','right','center']" data-hoffset="['205','158','83','0']"
							data-y="['top','top','top','top']" data-voffset="['620','469','475','504']"
							data-width="['252','252','252','193']" data-height="['83','83','83','70']"
							data-whitespace="nowrap" data-type="group" data-responsive_offset="on"
							data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
							data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
							data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"
							style="z-index: 14; min-width: 252px; max-width: 252px; max-width: 83px; max-width: 83px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
							<a class="tp-caption" href="https://1.envato.market/Bd5V9" target="_blank"
								id="slide-11-layer-25" data-x="['left','left','left','left']"
								data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
								data-voffset="['0','0','0','0']" data-fontsize="['20','20','20','16']"
								data-lineheight="['22','22','22','16']" data-width="none" data-height="none"
								data-whitespace="nowrap" data-type="text" data-actions="" data-responsive_offset="on"
								data-frames='[{"delay":"+0","speed":800,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":800,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,122,255);"}]'
								data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
								data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[20,20,20,19]" data-paddingright="[20,20,20,18]"
								data-paddingbottom="[20,20,20,19]" data-paddingleft="[20,20,20,18]"
								style="z-index: 15; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #2775ff; letter-spacing: 0px;font-family:Open Sans;background-color:rgb(255,255,255);border-radius:40px 40px 40px 40px;cursor:pointer;text-decoration: none;"><i
									class="fas fa-shopping-basket"></i> </a>
							<div class="tp-caption" id="slide-11-layer-17" data-x="['left','left','left','left']"
								data-hoffset="['93','93','93','78']" data-y="['middle','middle','middle','middle']"
								data-voffset="['-11','-11','-11','-11']" data-fontsize="['28','28','28','20']"
								data-lineheight="['30','30','30','24']" data-width="none" data-height="none"
								data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
								data-frames='[{"delay":"+0","speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
								data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
								data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 16; white-space: nowrap; font-size: 28px; line-height: 30px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;text-transform:uppercase;">
								ثبت شفارش </div>
							<div class="tp-caption" id="slide-11-layer-18" data-x="['left','left','left','left']"
								data-hoffset="['94','94','94','79']" data-y="['middle','middle','middle','middle']"
								data-voffset="['17','17','17','12']" data-width="none" data-height="none"
								data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
								data-responsive="off"
								data-frames='[{"delay":"+0","speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
								data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
								data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 17; white-space: nowrap; font-size: 16px; line-height: 18px; font-weight: 700; color: #69adff; letter-spacing: 0px;font-family:Open Sans;">
								<i class="fa-icon-instagram"></i> پوژمان </div>
						</div>
						<div class="tp-caption rev_group" id="slide-11-layer-26" data-x="['left','left','right','left']"
							data-hoffset="['195','173','97','15']" data-y="['top','top','top','top']"
							data-voffset="['365','300','303','405']" data-width="['270','224','224','131']"
							data-height="['217','168','168','103']" data-whitespace="nowrap" data-type="group"
							data-responsive_offset="on"
							data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
							data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
							data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"
							style="z-index: 18; min-width: 270px; max-width: 270px; max-width: 217px; max-width: 217px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
							<div class="tp-caption" id="slide-11-layer-13"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
								data-fontsize="['136','100','100','50']" data-lineheight="['140','110','110','60']"
								data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
								data-responsive_offset="on"
								data-frames='[{"delay":"+0","split":"chars","splitdelay":0.05,"speed":2000,"split_direction":"forward","frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
								data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
								data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 19; white-space: nowrap; font-size: 136px; line-height: 140px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">
								۱۰۰تومان </div>
							<div class="tp-caption" id="slide-11-layer-14"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['top','top','top','top']" data-voffset="['155','118','118','65']"
								data-fontsize="['40','30','30','18']" data-lineheight="['42','34','34','24']"
								data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
								data-responsive_offset="on"
								data-frames='[{"delay":"+0","speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
								data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
								data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 20; white-space: nowrap; font-size: 40px; line-height: 42px; font-weight: 300; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;text-transform:uppercase;">
								For <span style="color:#b88eff">۷ روز</span> </div>
						</div>
						<div class="tp-caption tp-shape tp-shapewrapper" id="slide-11-layer-1"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
							data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
							data-basealign="slide" data-responsive_offset="on" data-responsive="off"
							data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
							data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 5;background:linear-gradient(50deg, rgba(15,90,224,0.92) 0%, rgba(116,0,186,0.92) 100%);">
						</div>
						<div class="tp-caption tp-resizeme" id="slide-11-layer-20"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-19','-19','-19','-19']"
							data-width="none" data-height="none" data-whitespace="nowrap"
							data-visibility="['on','on','off','off']" data-type="image" data-basealign="slide"
							data-responsive_offset="on"
							data-frames='[{"delay":10,"speed":1500,"frame":"0","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","ease":"Power3.easeInOut"}]'
							data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 6;"><img src=" {% static 'img/demo_shop_trendy/images/940ba-brk_slide_element-1.png' %} "
								alt="" data-ww="['100%','100%','100%','100%']" data-hh="" data-no-retina> </div>
						<div class="tp-caption tp-resizeme rs-parallaxlevel-3" id="slide-11-layer-2"
							data-x="['right','right','right','right']" data-hoffset="['-491','-491','-491','-491']"
							data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="none"
							data-height="none" data-whitespace="nowrap" data-visibility="['on','on','off','off']"
							data-type="image" data-basealign="slide" data-responsive_offset="on"
							data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
							data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 7;"><img src=" {% static 'img/demo_shop_trendy/images/5b275-brk_slide_element-4.png' %} "
								alt="" data-ww="['686auto','686auto','686auto','686auto']"
								data-hh="['686px','686px','686px','686px']" data-no-retina> </div>
						<div class="tp-caption tp-resizeme rs-parallaxlevel-1" id="slide-11-layer-3"
							data-x="['left','left','left','left']" data-hoffset="['-318','-318','-318','-318']"
							data-y="['top','top','top','top']" data-voffset="['-11','-11','-11','-11']"
							data-width="none" data-height="none" data-whitespace="nowrap"
							data-visibility="['on','on','off','off']" data-type="image" data-basealign="slide"
							data-responsive_offset="on"
							data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
							data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 8;"><img src=" {% static 'img/demo_shop_trendy/images/8b295-brk_slide_element-5.png' %} "
								alt="" data-ww="['639auto','639auto','639auto','639auto']"
								data-hh="['291px','291px','291px','291px']" data-no-retina> </div>
						<div class="tp-caption tp-resizeme rs-parallaxlevel-2" id="slide-11-layer-4"
							data-x="['left','left','left','left']" data-hoffset="['-147','-147','-147','-147']"
							data-y="['middle','middle','middle','middle']" data-voffset="['120','120','120','120']"
							data-width="none" data-height="none" data-whitespace="nowrap"
							data-visibility="['on','on','off','off']" data-type="image" data-basealign="slide"
							data-responsive_offset="on"
							data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
							data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 9;"><img src=" {% static 'img/demo_shop_trendy/images/e7f74-brk_slide_element-6.png' %} "
								alt="" data-ww="['295auto','295auto','295auto','295auto']"
								data-hh="['295px','295px','295px','295px']" data-no-retina> </div>
						<div class="tp-caption tp-resizeme" id="slide-11-layer-7"
							data-x="['right','right','left','center']" data-hoffset="['30','30','15','0']"
							data-y="['middle','middle','top','top']" data-voffset="['20','20','150','90']"
							data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
							data-responsive_offset="on"
							data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
							data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 10;"><img src=" {% static 'img/demo_shop_trendy/images/77913-brk_slide_element-2.png' %} "
								alt="" data-ww="['472auto','350px','250px','200px']"
								data-hh="['692px','513px','367px','293px']" data-no-retina> </div>
					</li>
					<li data-index="rs-101" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
						data-hideslideonmobile="off" data-easein="default" data-easeout="default"
						data-masterspeed="1400" data-thumb="img/demo_shop_trendy/images/100x50_1ab07-brk_slide-2.jpg"
						data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
						data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
						data-param9="" data-param10="" data-description="">
						<img src=" {% static 'img/demo_shop_trendy/images/1ab07-brk_slide-2.jpg' %} " alt=""
							data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
							data-bgparallax="off" class="rev-slidebg" data-no-retina>
						<div class="tp-caption rev_group" id="slide-101-layer-27"
							data-x="['left','left','right','right']" data-hoffset="['15','15','15','15']"
							data-y="['top','top','top','top']" data-voffset="['145','125','174','402']"
							data-width="['685','551','385','282']" data-height="['196','170','123','89']"
							data-whitespace="normal" data-type="group" data-responsive_offset="on"
							data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
							data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
							data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"
							style="z-index: 11; min-width: 685px; max-width: 685px; max-width: 196px; max-width: 196px; white-space: normal; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
							<div class="tp-caption" id="slide-101-layer-11" data-x="['left','left','left','left']"
								data-hoffset="['352','284','194','149']" data-y="['middle','top','top','top']"
								data-voffset="['-40','17','9','8']" data-width="none" data-height="none"
								data-whitespace="nowrap" data-type="image" data-responsive_offset="on"
								data-frames='[{"delay":"+0","speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
								data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]" style="z-index: 12;"><img
									src=" {% static 'img/demo_shop_trendy/images/805f9-brk_slide_element-3.png' %} " alt=""
									data-ww="['219px','180px','140px','100px']" data-hh="['77px','63px','49px','35px']"
									data-no-retina> </div>
							<div class="tp-caption" id="slide-101-layer-9" data-x="['left','center','center','center']"
								data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
								data-voffset="['0','0','0','0']" data-fontsize="['72','60','40','30']"
								data-lineheight="['78','68','50','36']" data-width="['682','530','358','271']"
								data-height="['none','137','104','73']" data-whitespace="normal" data-type="text"
								data-responsive_offset="on"
								data-frames='[{"delay":"+0","speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
								data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
								data-marginleft="[0,0,0,0]" data-textalign="['center','center','center','center']"
								data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 13; min-width: 682px; max-width: 682px; white-space: normal; font-size: 72px; line-height: 78px; font-weight: 300; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;text-transform:uppercase;">
								Save <span style="color:#3e2acd;font-weight: 200;margin-left:35px">30%</span>
								<div style="font-weight: 700;font-family: Open Sans;">تخفیف ویژه این هفته</div>
							</div>
						</div>
						<div class="tp-caption rev-brk-brands rev_group" id="slide-101-layer-24"
							data-x="['left','left','right','center']" data-hoffset="['205','158','83','0']"
							data-y="['top','top','top','top']" data-voffset="['620','469','475','504']"
							data-width="['252','252','252','193']" data-height="['83','83','83','70']"
							data-whitespace="nowrap" data-type="group" data-responsive_offset="on"
							data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
							data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
							data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"
							style="z-index: 14; min-width: 252px; max-width: 252px; max-width: 83px; max-width: 83px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
							<a class="tp-caption" href="https://1.envato.market/Bd5V9" target="_blank"
								id="slide-101-layer-25" data-x="['left','left','left','left']"
								data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
								data-voffset="['0','0','0','0']" data-fontsize="['20','20','20','16']"
								data-lineheight="['22','22','22','16']" data-width="none" data-height="none"
								data-whitespace="nowrap" data-type="text" data-actions="" data-responsive_offset="on"
								data-frames='[{"delay":"+0","speed":800,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":800,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,122,255);"}]'
								data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
								data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[20,20,20,19]" data-paddingright="[20,20,20,18]"
								data-paddingbottom="[20,20,20,19]" data-paddingleft="[20,20,20,18]"
								style="z-index: 15; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #2775ff; letter-spacing: 0px;font-family:Open Sans;background-color:rgb(255,255,255);border-radius:40px 40px 40px 40px;cursor:pointer;text-decoration: none;"><i
									class="fas fa-shopping-basket"></i> </a>
							<div class="tp-caption" id="slide-101-layer-17" data-x="['left','left','left','left']"
								data-hoffset="['93','93','93','78']" data-y="['middle','middle','middle','middle']"
								data-voffset="['-11','-11','-11','-11']" data-fontsize="['28','28','28','20']"
								data-lineheight="['30','30','30','24']" data-width="none" data-height="none"
								data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
								data-frames='[{"delay":"+0","speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
								data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
								data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 16; white-space: nowrap; font-size: 28px; line-height: 30px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;text-transform:uppercase;">
								ثبت سفارش </div>
							<div class="tp-caption" id="slide-101-layer-18" data-x="['left','left','left','left']"
								data-hoffset="['94','94','94','79']" data-y="['middle','middle','middle','middle']"
								data-voffset="['17','17','17','12']" data-width="none" data-height="none"
								data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
								data-responsive="off"
								data-frames='[{"delay":"+0","speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
								data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
								data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 17; white-space: nowrap; font-size: 16px; line-height: 18px; font-weight: 700; color: #69adff; letter-spacing: 0px;font-family:Open Sans;">
								<i class="fa-icon-instagram"></i> پوژمان </div>
						</div>
						<div class="tp-caption rev_group" id="slide-101-layer-26"
							data-x="['left','left','right','left']" data-hoffset="['195','173','97','15']"
							data-y="['top','top','top','top']" data-voffset="['365','300','303','405']"
							data-width="['270','224','224','131']" data-height="['217','168','168','103']"
							data-whitespace="nowrap" data-type="group" data-responsive_offset="on"
							data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
							data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
							data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"
							style="z-index: 18; min-width: 270px; max-width: 270px; max-width: 217px; max-width: 217px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
							<div class="tp-caption" id="slide-101-layer-13"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
								data-fontsize="['136','100','100','50']" data-lineheight="['140','110','110','60']"
								data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
								data-responsive_offset="on"
								data-frames='[{"delay":"+0","split":"chars","splitdelay":0.05,"speed":2000,"split_direction":"forward","frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
								data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
								data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 19; white-space: nowrap; font-size: 136px; line-height: 140px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">
								۴۰۰تومان </div>
							<div class="tp-caption" id="slide-101-layer-14"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['top','top','top','top']" data-voffset="['155','118','118','65']"
								data-fontsize="['40','30','30','18']" data-lineheight="['42','34','34','24']"
								data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
								data-responsive_offset="on"
								data-frames='[{"delay":"+0","speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
								data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
								data-marginleft="[0,0,0,0]" data-textalign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 20; white-space: nowrap; font-size: 40px; line-height: 42px; font-weight: 300; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;text-transform:uppercase;">
								فقط برای <span style="color:#b88eff">۷ روز</span> </div>
						</div>
						<div class="tp-caption tp-shape tp-shapewrapper" id="slide-101-layer-1"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
							data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
							data-basealign="slide" data-responsive_offset="on" data-responsive="off"
							data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
							data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 5;background:linear-gradient(50deg, rgba(15,90,224,0.92) 0%, rgba(116,0,186,0.92) 100%);">
						</div>
						<div class="tp-caption tp-resizeme" id="slide-101-layer-20"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-19','-19','-19','-19']"
							data-width="none" data-height="none" data-whitespace="nowrap"
							data-visibility="['on','on','off','off']" data-type="image" data-basealign="slide"
							data-responsive_offset="on"
							data-frames='[{"delay":10,"speed":1500,"frame":"0","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","ease":"Power3.easeInOut"}]'
							data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 6;"><img src=" {% static 'img/demo_shop_trendy/images/940ba-brk_slide_element-1.png' %} "
								alt="" data-ww="['100%','100%','100%','100%']" data-hh="" data-no-retina> </div>
						<div class="tp-caption tp-resizeme rs-parallaxlevel-3" id="slide-101-layer-2"
							data-x="['right','right','right','right']" data-hoffset="['-491','-491','-491','-491']"
							data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="none"
							data-height="none" data-whitespace="nowrap" data-visibility="['on','on','off','off']"
							data-type="image" data-basealign="slide" data-responsive_offset="on"
							data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
							data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 7;"><img src=" {% static 'img/demo_shop_trendy/images/5b275-brk_slide_element-4.png' %} "
								alt="" data-ww="['686auto','686auto','686auto','686auto']"
								data-hh="['686px','686px','686px','686px']" data-no-retina> </div>
						<div class="tp-caption tp-resizeme rs-parallaxlevel-1" id="slide-101-layer-3"
							data-x="['left','left','left','left']" data-hoffset="['-318','-318','-318','-318']"
							data-y="['top','top','top','top']" data-voffset="['-11','-11','-11','-11']"
							data-width="none" data-height="none" data-whitespace="nowrap"
							data-visibility="['on','on','off','off']" data-type="image" data-basealign="slide"
							data-responsive_offset="on"
							data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
							data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 8;"><img src=" {% static 'img/demo_shop_trendy/images/8b295-brk_slide_element-5.png' %} "
								alt="" data-ww="['639auto','639auto','639auto','639auto']"
								data-hh="['291px','291px','291px','291px']" data-no-retina> </div>
						<div class="tp-caption tp-resizeme rs-parallaxlevel-2" id="slide-101-layer-4"
							data-x="['left','left','left','left']" data-hoffset="['-147','-147','-147','-147']"
							data-y="['middle','middle','middle','middle']" data-voffset="['120','120','120','120']"
							data-width="none" data-height="none" data-whitespace="nowrap"
							data-visibility="['on','on','off','off']" data-type="image" data-basealign="slide"
							data-responsive_offset="on"
							data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
							data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 9;"><img src=" {% static 'img/demo_shop_trendy/images/e7f74-brk_slide_element-6.png' %} "
								alt="" data-ww="['295auto','295auto','295auto','295auto']"
								data-hh="['295px','295px','295px','295px']" data-no-retina> </div>
						<div class="tp-caption tp-resizeme" id="slide-101-layer-7"
							data-x="['right','right','left','center']" data-hoffset="['92','79','15','0']"
							data-y="['middle','middle','top','top']" data-voffset="['3','15','150','90']"
							data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
							data-responsive_offset="on"
							data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
							data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 10;"><img src=" {% static 'img/demo_shop_trendy/images/dfa1f-brk_slide_element-7.png' %} "
								alt="" data-ww="['315auto','260px','220px','200px']"
								data-hh="['409px','338px','286','293px']" data-no-retina> </div>
					</li>
				</ul>
				<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
			</div>
		</div>
{#slider#}

    <section>
				<div class="text-center mb-80">
					<h4 class="title__heading-04 title__heading-sub font__family-montserrat font__size-50 font__weight-bold wow zoomIn brk-library-rendered" data-brk-library="component__title" style="visibility: visible; animation-name: zoomIn;"><span class="brk-base-font-color">محصولات محبوب</span></h4>
					<h2 class="title__heading-04 title__heading-main font__family-pacifico font__size-36 brk-library-rendered" data-brk-library="component__title"><span class="brk-base-font-color">محصولات محبوب</span></h2>
				</div>
				<div class="container mb-140">
					<div class="row">
					 {% for product in products %}
						<div class="col-lg-4 mb-20">{{ img.url }}
							<div class="flip-box text-center brk-library-rendered" data-brk-library="component__flip_box,component__elements,fancybox">
								<div class="flip flip_horizontal flip-box__split">
                                     {% thumbnail product.image "300x300" as img %}
									<div class="flip__front">
										<div class="flip-box__split-img lazyloaded" data-bg="{{ img.url }}" style="background-image: url(&quot;{{ img.url }}&quot;);"></div>
										<div class="pt-30 pb-30 flip-box__split-info">
											<div class="font__family-montserrat font__weight-bold pl-20 pr-20 font__size-18">
												{{ product.name }}
											</div>
											<div class="brk-base-font-color font__family-montserrat font__size-17 font__weight-medium">
												<span class=" font__size-16">
													{{ product.price }}
												</span>
												<span class="font__weight-semibold font__size-18">
													تومان
												</span>
											</div>
										</div>
										<div class="brk-sc-card-labels brk-sc-card-labels_side-labels">
											<div class="brk-sc-card-label">
												<span class="brk-white-font-color font__family-montserrat font__size-13 font__weight-bold line__height-14 text-uppercase brk-sc-card-label__text">new</span>
												<span class="brk-sc-card-label__additional-1"></span>
												<span class="brk-sc-card-label__additional-2"></span>
												<span class="brk-sc-card-label__additional-3"></span>
											</div>
											<div class="brk-sc-card-label">
												<span class="brk-white-font-color font__family-montserrat font__size-13 font__weight-bold line__height-14 text-uppercase brk-sc-card-label__text">-10%</span>
												<span class="brk-sc-card-label__additional-1"></span>
												<span class="brk-sc-card-label__additional-2"></span>
												<span class="brk-sc-card-label__additional-3"></span>
											</div>
										</div>
									</div>
									<div class="flip__back lazyloaded" data-bg="{{ img.url }}" style="background-image: url(&quot;{{ img.url }}&quot;);">
										<div class="flip-box__split-overlay brk-base-bg-gradient-10deg"></div>
										<div class="flip-box__split-content">
											<div class="brk-sc-card-labels brk-sc-card-labels_side-labels">
												<div class="brk-sc-card-label">
													<span class="brk-white-font-color font__family-montserrat font__size-13 font__weight-bold line__height-14 text-uppercase brk-sc-card-label__text">new</span>
													<span class="brk-sc-card-label__additional-1"></span>
													<span class="brk-sc-card-label__additional-2"></span>
													<span class="brk-sc-card-label__additional-3"></span>
												</div>
												<div class="brk-sc-card-label">
													<span class="brk-white-font-color font__family-montserrat font__size-13 font__weight-bold line__height-14 text-uppercase brk-sc-card-label__text">-10%</span>
													<span class="brk-sc-card-label__additional-1"></span>
													<span class="brk-sc-card-label__additional-2"></span>
													<span class="brk-sc-card-label__additional-3"></span>
												</div>
											</div>
											<div class="pt-lg-30 pb-lg-30 pt-sm-20 pb-sm-20 pt-xs-40 pb-xs-40 pt-20 pb-20 position-relative z-index-5">
												<a href="#">
													<h4 class="font__family-montserrat font__weight-bold font__size-18 line__height-24">
														{{ product.name }}
													</h4>
												</a>
												<div class=" font__family-montserrat font__size-15">
													<span>
														{{ product.price }}
													</span>
													<span class="font__weight-bold"></span>
													تومان
												</div>
											</div>
											<div class="flip-box__split-list">
												<ul class="font__family-open-sans font__size-15 line__height-20 font__weight-light text-left letter-spacing-40 pt-15 pb-15">
													<li><i class="far fa-check"></i>Maecenas vestibulum mollis</li>
													<li><i class="far fa-check"></i>Pellentesque ut neque</li>
													<li><i class="far fa-check"></i>Fellentesque habitant morbi</li>
													<li><i class="far fa-check"></i>Maecenas vestibulum mollis</li>
													<li><i class="far fa-check"></i>Pellentesque ut neque</li>
												</ul>
											</div>
											<div class="flip-box__split-actions">
												<a href="{{ product.get_absolute_url}}" class="add-cart d-flex align-items-center justify-content-center">
													<i class="fas fa-shopping-cart"></i>
												</a>
												<a href="{{ product.get_absolute_url}}" class="add-search d-flex align-items-center justify-content-center fancybox rendered">
													جزئیات
												</a>


											</div>
										</div>
									</div>
								     {% endthumbnail %}
                                </div>
							</div>
						</div>
					{% endfor %}
					</div>
				</div>
			</section>

    {% include 'blog/all_articles.html' %}
    <section>

    	<div class="text-center mb-80">
					<h4 class="title__heading-04 title__heading-sub font__family-montserrat font__size-50 font__weight-bold wow zoomIn brk-library-rendered" data-brk-library="component__title" style="visibility: visible; animation-name: zoomIn;"><span class="brk-base-font-color"> آخرین مفالات</span></h4>
					<h2 class="title__heading-04 title__heading-main font__family-pacifico font__size-36 brk-library-rendered" data-brk-library="component__title"><span class="brk-base-font-color">بلاگ</span></h2>
        </div>
{#        {% include 'blog/all_articles.html' %}#}
         {% for article in all_articles %}
         	<div class="container mt-70 mt-md-140" style="margin: 1rem !important">
					<div class="mt-70" style="margin-top: 0px !important;">
						<div class="row align-items-center justify-content-center" data-brk-library="component__image_frames,fancybox">
							<div class="col-lg-4 flex-lg-last">
								<div class="text-center text-lg-left">
                                    {% thumbnail article.image "300x300" as imgg %}
									<a href="{{ article.get_absolute_url}}" class="frame-image image-popup img-square shadow fancybox">
										<img src="{{ imgg.url }}" alt="alt">
										<span class="square"></span>
									</a>
                                    {% endthumbnail %}
								</div>
							</div>
							<div class="col-lg-8 text-center text-lg-left mt-30 mt-lg-0">

								<div class="show-inline-block">
									<h2 class="font__family-playfair font__weight-bold font__size-36 line__height-42 highlight-massive highlight-massive-gray">
										{{ article.title }}
										<span class="after"></span>
									</h2>
								</div>
								<p class="font__family-open-sans font__size-16 line__height-24 text-gray-light mt-30">
                                {{ article.body|safe|truncatewords:"50"|linebreaks }}
                                </p>
									<a href="{{ article.get_absolute_url }}" class="btn btn-pos btn-lg border-radius-10 font__weight-bold ml-0 mr-0 mt-30" data-brk-library="component__button">
										<i class="fa icon-inside" aria-hidden="true"></i>
										<span></span>ادامه مطلب
									</a>
							</div>
						</div>
					</div>
				</div>
         {% endfor %}

    </section>



    {# ارتباط با ما #}
    <section>
			<div class="pt-80 pb-80 position-relative z-index-2 side-circles text-center lazyload"
				data-bg="img/demo_shop_trendy/bg-patterns/8.png" data-brk-library="component__social_block">
				<span class="brk-base-bg-gradient-90deg-96 brk-abs-overlay"></span>
				<div class="container all-light">
					<p
						class="font__family-montserrat font__weight-semibold font__size-18 text-light-blue letter-spacing-200 text-uppercase">
						با ما در ارتباط باشید</p>
					<h3
						class="font__family-montserrat font__weight-semibold font__size-36 letter-spacing-100 text-uppercase mt-10">
						تماس با ما</h3>
					<p class="font__size-16 font__family-open-sans line__height-26 text-gray mt-20">
						تیم پشتیبانی به صورت ۲۴ ساعته آماده پاسخگویی <br class="hide show-md-block"></p>
					<div class="row mt-30">
						<div class="col-6 col-md-4 col-lg-2">
							<div class="social__icon-round">
								<a href="#" class="icon-wrap"><i class="brk-icon fab fa-whatsapp"></i></a>
								<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-blue">
									Whats App</h4>
								<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-2">
							<div class="social__icon-round">
								<a href="#" class="icon-wrap"><i class="brk-icon fab fa-linkedin"></i></a>
								<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-blue">
									Linked in</h4>
								<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-2">
							<div class="social__icon-round">
								<a href="#" class="icon-wrap"><i class="brk-icon fab fa-github"></i></a>
								<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-blue">
									Git Hub</h4>
								<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-2">
							<div class="social__icon-round">
								<a href="#" class="icon-wrap"><i class="brk-icon fab fa-telegram"></i></a>
								<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-blue">
									Telegram</h4>
								<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-2">
							<div class="social__icon-round">
								<a href="#" class="icon-wrap"><i class="brk-icon fab fa-instagram"></i></a>
								<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-blue">
									Instagram</h4>
								<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
							</div>
						</div>

						<div class="col-6 col-md-4 col-lg-2">
							<div class="social__icon-round">
								<a href="#" class="icon-wrap"><i class="brk-icon fab fa-google"></i></a>
								<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-blue">
									Google +</h4>
								<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>





{% endblock %}