
{% load static %}
<!DOCTYPE html>
<html  dir="rtl" lang="en" data-brk-skin="brk-blue.css">

<head>
	<title>{{ product.name }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="shortcut icon" href=" {% static 'favicon.ico' %} ">
	<link rel="apple-touch-icon-precomposed" href=" {% static 'favicon.ico' %} ">
	<meta name="theme-color" content="#2775FF">
	<meta name="keywords" content="themeforest, theme, html, template">
	<meta name="description" content="themeforest, theme, html, template">
	<link rel="stylesheet" id="brk-direction-bootstrap" href=" {% static 'css/assets/bootstrap-rtl.css' %} ">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" id="brk-skin-color" href=" {% static 'css/skins/brk-blue.css' %} ">
	<link id="brk-base-color" rel="stylesheet" href=" {% static 'css/skins/brk-base-color.css' %} ">
	<link rel="stylesheet" id="brk-direction-offsets" href=" {% static 'css/assets/offsets-rtl.css' %} ">
	<link id="brk-css-min" rel="stylesheet" href=" {% static 'css/assets/styles.min.css' %} ">
</head>

<body>
	<div class="brk-loader">
		<div class="brk-loader__loader"></div>
	</div>

	<div class="brk-header-mobile">
		<div class="brk-header-mobile__open brk-header-mobile__open_white">
			<span></span>
		</div>
		<div class="brk-header-mobile__logo">
			<a href="#">
				<img class="brk-header-mobile__logo-1 lazyload" src=" {% static 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' %} " data-src="img/logo-2.png" alt="alt">
				<img class="brk-header-mobile__logo-2 lazyload" src=" {% static 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' %} " data-src="img/logo-dark-2.png" alt="alt">
			</a>
		</div>
	</div>
	{% include 'inc/navbar.html' %}
		<div class="brk-info-menu">
		<div class="brk-info-menu__bar">
			<button class="brk-info-menu__close"></button>
			<h3 class="brk-info-menu__header font__family-montserrat font__weight-bold font__size-21">More info</h3>
			<div class="brk-categories mb-20" data-brk-library="component__widgets">
				<div class="brk-categories__list font__family-open-sans font__size-14 font__weight-normal">
					<a href="#" class="brk-categories__item">
						<span class="brk-categories__item-name">General</span>
						<span class="brk-categories__item-count">12</span>
					</a>
					<a href="#" class="brk-categories__item active">
						<span class="brk-categories__item-name">Mockups</span>
						<span class="brk-categories__item-count">14</span>
					</a>
					<a href="#" class="brk-categories__item">
						<span class="brk-categories__item-name">HTML & CSS</span>
						<span class="brk-categories__item-count">18</span>
					</a>
					<a href="#" class="brk-categories__item">
						<span class="brk-categories__item-name">Logo</span>
						<span class="brk-categories__item-count">21</span>
					</a>
					<a href="#" class="brk-categories__item">
						<span class="brk-categories__item-name">Web Design</span>
						<span class="brk-categories__item-count">6</span>
					</a>
				</div>
			</div>
			<h3 class="brk-info-menu__header font__family-montserrat font__weight-bold font__size-21">Our instagram</h3>
			<div class="default-slider dots-base-skin dots-base-color slick-loading mt-15" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": true, "autoplay": false, "autoplaySpeed": 4000}' data-brk-library="slider__slick">
				<div>
					<div class="brk-header-slider">
						<div class="brk-header-slider__img">
							<img src=" {% static 'img/309x206_1.jpg' %} " alt="alt">
						</div>
						<div class="brk-header-slider__content">
							<img class="lazyload" src=" {% static 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' %} " data-src="img/head-icon.png" alt="alt">
							<div class="brk-header-slider__content--title">
								<h4 class="font__family-montserrat font__weight-bold font__size-16">@berserk</h4>
								<span class="font__size-14">17 Hours ago</span>
							</div>
						</div>
						<p class="brk-header-slider__text font__size-14 line__height-21">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
							ante, dapibus in, viverra</p>
					</div>
				</div>
				<div>
					<div class="brk-header-slider">
						<div class="brk-header-slider__img">
							<img class="lazyload" src=" {% static 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' %} " data-src="img/309x206_2.jpg" alt="alt">
						</div>
						<div class="brk-header-slider__content">
							<img class="lazyload" src=" {% static 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' %} " data-src="img/head-icon.png" alt="alt">
							<div class="brk-header-slider__content--title">
								<h4 class="font__family-montserrat font__weight-bold font__size-16">@berserk</h4>
								<span class="font__size-14">17 Hours ago</span>
							</div>
						</div>
						<p class="brk-header-slider__text font__size-14 line__height-21">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
							ante, dapibus in, viverra</p>
					</div>
				</div>
				<div>
					<div class="brk-header-slider">
						<div class="brk-header-slider__img">
							<img class="lazyload" src=" {% static 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' %} " data-src="img/309x206_3.jpg" alt="alt">
						</div>
						<div class="brk-header-slider__content">
							<img class="lazyload" src=" {% static 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' %} " data-src="img/head-icon.png" alt="alt">
							<div class="brk-header-slider__content--title">
								<h4 class="font__family-montserrat font__weight-bold font__size-16">@berserk</h4>
								<span class="font__size-14">17 Hours ago</span>
							</div>
						</div>
						<p class="brk-header-slider__text font__size-14 line__height-21">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
							ante, dapibus in, viverra</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    	<div class="breadcrumbs__section breadcrumbs__section-thin brk-bg-center-cover lazyload" style="padding-top: 75px;padding-bottom: 47px" data-bg="{% static 'img/1920x258_1.jpg' %}" data-brk-library="component__breadcrumbs_css">
		<span class="brk-abs-bg-overlay brk-bg-grad opacity-80"></span>
		<div class="breadcrumbs__wrapper">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-12 col-lg-6">
						<div class="d-flex justify-content-lg-end justify-content-start pr-40 pr-xs-0 breadcrumbs__title">
							<h2 class="brk-white-font-color font__weight-semibold font__size-48 line__height-68 font__family-montserrat">
								{{ product.name }}
							</h2>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="pt-25 pb-35 position-static position-lg-relative breadcrumbs__subtitle">
							<h3 class="brk-white-font-color font__family-montserrat font__weight-medium font__size-18 line__height-21 text-uppercase mb-15">
								Check all our services
							</h3>
							<ol class="breadcrumb font__family-montserrat font__size-15 line__height-16 brk-white-font-color">
								<li>
									<a href="/">صفحه اصلی</a>
									<i class="fal fa-chevron-right icon"></i>
								</li>
                                <li>
									<a href="{% url 'shop:home' %}">فروشگاه</a>
									<i class="fal fa-chevron-right icon"></i>
								</li>

								<li class="active">{{ product.name }}</li>

							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main-wrapper">
		<main class="main-container pt-80">
			<section>
				<div class="container">
					    <h3>{{ product.name }}</h3>
                        <small>{{ product.created }}</small><p>{{ product.price }} Toman</p><br/>
                        <img src="{{ product.image.url }}" alt="" width="400px" height="400px">
                        <p>{{ product.description }}</p><br/><br/>
                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="افزودن به سبد خرید">
                        </form>
                </div>
			</section>

		</main>
	</div>
	 <footer class="brk-footer brk-footer-1 position-relative" id="contact"
			data-brk-library="component__footer,twitter_init">
			<div class="brk-footer__wrapper brk-footer__wrapper_shadow">

				<div class="pt-60 brk-light-gradient-90deg-94 border-bottom-3 brk-border-color-light brk-shadow-light">
					<div class="container">
						<div class="brk-dashed-logo mb-20">
							<span class="brk-dashed-logo__line"></span>
							<a class="brk-dashed-logo__link ml-25 mr-25">
								<img src="{% static 'img/logo.svg'%}" height="31" width="170" alt="logo">
							</a>
							<span class="brk-dashed-logo__line"></span>
						</div>
						<div class="brk-social-links brk-white-font-color brk-social-links_opacity d-flex justify-content-center mb-40 font__size-12"
							data-brk-library="component__social_links">
							<a href="#" class="brk-social-links__item">
								<i class="fab fa-twitter"></i>
							</a>
							<a href="#" class="brk-social-links__item">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="#" class="brk-social-links__item">
								<i class="fab fa-google-plus-g"></i>
							</a>
							<a href="#" class="brk-social-links__item">
								<i class="fab fa-youtube"></i>
							</a>
							<a href="#" class="brk-social-links__item">
								<i class="fab fa-vimeo"></i>
							</a>
							<a href="#" class="brk-social-links__item">
								<i class="fab fa-vk"></i>
							</a>
						</div>
						<div class="brk-footer__rights pt-15 pb-20 text-center">
							<p class="font__family-open-sans font__size-14 font__weight-normal line__height-14">© 2018
								Berserk All rights reserved</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
    <a href=" {% static '#top' %} " id="toTop"></a>
	<script defer="defer" src=" {% static 'js/scripts.min.js' %} "></script>
</body>

</html>

