{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}فروشگاه{% endblock %}
{% load static %}

{% block content %}

	<div class="breadcrumbs__section breadcrumbs__section-thin brk-bg-center-cover lazyload" style="padding-top: 75px;padding-bottom: 47px" data-bg="{% static 'img/1920x258_1.jpg' %}" data-brk-library="component__breadcrumbs_css">
		<span class="brk-abs-bg-overlay brk-bg-grad opacity-80"></span>
		<div class="breadcrumbs__wrapper">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-12 col-lg-6">
						<div class="d-flex justify-content-lg-end justify-content-start pr-40 pr-xs-0 breadcrumbs__title">
							<h2 class="brk-white-font-color font__weight-semibold font__size-48 line__height-68 font__family-montserrat">
								فروشگاه
							</h2>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="pt-25 pb-35 position-static position-lg-relative breadcrumbs__subtitle">
							<h3 class="brk-white-font-color font__family-montserrat font__weight-medium font__size-18 line__height-21 text-uppercase mb-15">
								Check all our services
							</h3>
							<ol class="breadcrumb font__family-montserrat font__size-15 line__height-16 brk-white-font-color">
								<li>
									<a href="/">صفحه اصلی</a>
									<i class="fal fa-chevron-right icon"></i>
								</li>
                                <li>
									<a href="{% url 'shop:home' %}">فروشگاه</a>
									<i class="fal fa-chevron-right icon"></i>
								</li>

							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{#slider#}

    <section>
				<div class="text-center mb-80">
					<h4 class="title__heading-04 title__heading-sub font__family-montserrat font__size-50 font__weight-bold wow zoomIn brk-library-rendered" data-brk-library="component__title" style="visibility: visible; animation-name: zoomIn;"><span class="brk-base-font-color">محصولات محبوب</span></h4>
					<h2 class="title__heading-04 title__heading-main font__family-pacifico font__size-36 brk-library-rendered" data-brk-library="component__title"><span class="brk-base-font-color">محصولات محبوب</span></h2>
				</div>
				<div class="container mb-140">
					<div class="row">
					 {% for product in products %}
						<div class="col-lg-4 mb-20">{{ img.url }}
							<div class="flip-box text-center brk-library-rendered" data-brk-library="component__flip_box,component__elements,fancybox">
								<div class="flip flip_horizontal flip-box__split">
                                     {% thumbnail product.image "300x300" as img %}
									<div class="flip__front">
										<div class="flip-box__split-img lazyloaded" data-bg="{{ img.url }}" style="background-image: url(&quot;{{ img.url }}&quot;);"></div>
										<div class="pt-30 pb-30 flip-box__split-info">
											<div class="font__family-montserrat font__weight-bold pl-20 pr-20 font__size-18">
												{{ product.name }}
											</div>
											<div class="brk-base-font-color font__family-montserrat font__size-17 font__weight-medium">
												<span class=" font__size-16">
													{{ product.price }}
												</span>
												<span class="font__weight-semibold font__size-18">
													تومان
												</span>
											</div>
										</div>
										<div class="brk-sc-card-labels brk-sc-card-labels_side-labels">
											<div class="brk-sc-card-label">
												<span class="brk-white-font-color font__family-montserrat font__size-13 font__weight-bold line__height-14 text-uppercase brk-sc-card-label__text">new</span>
												<span class="brk-sc-card-label__additional-1"></span>
												<span class="brk-sc-card-label__additional-2"></span>
												<span class="brk-sc-card-label__additional-3"></span>
											</div>
											<div class="brk-sc-card-label">
												<span class="brk-white-font-color font__family-montserrat font__size-13 font__weight-bold line__height-14 text-uppercase brk-sc-card-label__text">-10%</span>
												<span class="brk-sc-card-label__additional-1"></span>
												<span class="brk-sc-card-label__additional-2"></span>
												<span class="brk-sc-card-label__additional-3"></span>
											</div>
										</div>
									</div>
									<div class="flip__back lazyloaded" data-bg="{{ img.url }}" style="background-image: url(&quot;{{ img.url }}&quot;);">
										<div class="flip-box__split-overlay brk-base-bg-gradient-10deg"></div>
										<div class="flip-box__split-content">
											<div class="brk-sc-card-labels brk-sc-card-labels_side-labels">
												<div class="brk-sc-card-label">
													<span class="brk-white-font-color font__family-montserrat font__size-13 font__weight-bold line__height-14 text-uppercase brk-sc-card-label__text">new</span>
													<span class="brk-sc-card-label__additional-1"></span>
													<span class="brk-sc-card-label__additional-2"></span>
													<span class="brk-sc-card-label__additional-3"></span>
												</div>
												<div class="brk-sc-card-label">
													<span class="brk-white-font-color font__family-montserrat font__size-13 font__weight-bold line__height-14 text-uppercase brk-sc-card-label__text">-10%</span>
													<span class="brk-sc-card-label__additional-1"></span>
													<span class="brk-sc-card-label__additional-2"></span>
													<span class="brk-sc-card-label__additional-3"></span>
												</div>
											</div>
											<div class="pt-lg-30 pb-lg-30 pt-sm-20 pb-sm-20 pt-xs-40 pb-xs-40 pt-20 pb-20 position-relative z-index-5">
												<a href="#">
													<h4 class="font__family-montserrat font__weight-bold font__size-18 line__height-24">
														{{ product.name }}
													</h4>
												</a>
												<div class=" font__family-montserrat font__size-15">
													<span>
														{{ product.price }}
													</span>
													<span class="font__weight-bold"></span>
													تومان
												</div>
											</div>
											<div class="flip-box__split-list">
												<ul class="font__family-open-sans font__size-15 line__height-20 font__weight-light text-left letter-spacing-40 pt-15 pb-15">
													<li><i class="far fa-check"></i>Maecenas vestibulum mollis</li>
													<li><i class="far fa-check"></i>Pellentesque ut neque</li>
													<li><i class="far fa-check"></i>Fellentesque habitant morbi</li>
													<li><i class="far fa-check"></i>Maecenas vestibulum mollis</li>
													<li><i class="far fa-check"></i>Pellentesque ut neque</li>
												</ul>
											</div>
											<div class="flip-box__split-actions">
												<a href="{{ product.get_absolute_url}}" class="add-cart d-flex align-items-center justify-content-center">
													<i class="fas fa-shopping-cart"></i>
												</a>
												<a href="{{ product.get_absolute_url}}" class="add-search d-flex align-items-center justify-content-center fancybox rendered">
													جزئیات
												</a>


											</div>
										</div>
									</div>
								     {% endthumbnail %}
                                </div>
							</div>
						</div>
					{% endfor %}
					</div>
				</div>
			</section>


{% endblock %}